
@font-face {
  font-family: 'museosansfordell';
  src: url('museosansfordell-300-webfont.eot'); /* IE9 Compat Modes */
  src: url('museosansfordell-300-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('museosansfordell-300-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('museosansfordell-300-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('museosansfordell-300-webfont.svg') format('svg'); /* Legacy iOS */
}

html{
	 scroll-behavior: smooth;
}

body {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

p {
    font-size: 14px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:100
}
ul{padding-left: 10px}
p.small {
    font-size: 13px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-weight: 200;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

h2.real-sol{
	color:#e84f0b;
    font-size: 50px;
    font-weight: 100;
}

.real-sol-copy{
	color:#007db8;
}
hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}
.top-header{
background: url(../img/Dell_storage.jpg);
height:auto;
background-size:100% 100%;
background-position:center center;
padding-top:80px;
color:#fff;
}
.navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		font-size:12px;
		background:#007db8;
		z-index:999999
		}
.president{
	height:220px;
background: url(../img/Dell_storage.jpg) center right;
background-size:cover;}

.jump{
	background:#444444;
	padding:20px 0px;
}

.sm-tran{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.jump .jump-title{color:#71c6c1; text-align:center !important; padding-top:20px}	
.jump-box{background:#515151; padding:10px 50px;border-right:solid 5px #444 !important; text-align:center;height:70px}
.jump-box a{color:#fff}
.facts{text-align:left; background:#fff;padding:50px 0px;}
.facts h1{font-size:80px;margin:0;font-family: "Museo", "Trebuchet MS", Arial, Sans-Serif;}
.pink-fact{color:#ee6411}
.green-fact{color:#6ea204}
.blue-fact{color:#00447c;font-size: 11px;}
.blue-text{color:#007db8;font-size:15px;}
h1.green-fact{position:relative;}
span.perc{font-size:28px; position:absolute;top:5px;right:0}
h1.blue-fact{position:relative;}
span.perc{font-size:28px; position:absolute;top:5px;right:0}
span.less{font-size:18px; position:absolute;bottom:10px;right:0;text-transform:lowercase}
.fact-icon{margin-right:40px}


.storage{
	background: url(../img/storage.jpg);
	padding:50px 0px;
	    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.upperbox{
	background:rgba(0,68,124,0.8);
	padding:30px 20px;
	text-align:center;
	color:#fff;
}
.upperbox p{
	font-size:14px !important;
	max-width:850px;
	margin:0 auto
}

.primary{
	background:#007db8;
	padding:10px 20px;
	margin-top:15px;
	color:#fff
}

.real-p{
    font-size: 17px;	
}
.primary:hover{

}

.right-texts{background:url(../img/rm.png);background-repeat:no-repeat;padding-top:28px;padding-bottom:35px;padding-left:240px;}
.v-in{
	text-align:left;
	color:#007db8
}
.v-in img{margin-right:20px}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.whitebox{
	background:rgba(255,255,255,0.8);
	padding:30px 20px;
	height:180px;
	margin-top:10px;
	
}
.leftw{
		text-align:right;
		border-right:solid 4px #000
		
}
.rightw{
		text-align:left;
}
.whitebox h3{
	color:#007db8;
	font-size: 35px;
}

.flash{
	
	margin:50px 0px;
	height:550px;
	position:relative
}

.flash-left{

background:url(../img/Dell_flash_storage_1.jpg);
	
	height:550px;
	position:relative
}

.flash-whitebox-left{
	background:rgba(255,255,255,0.8);
	padding:30px;
	text-align:right;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.intel{
	color:#fff;
	text-align:right !important;	
}

a.navbar-brand{margin-top:-16px !important}
.navbar-brand img{
width:55px;
top:0px
}
span.right-text{
	text-align: right;
	margin-top:10px;
	margin-right:10px;
}

.intel img{width:70px;}

.right-texts{
}


.navbar {
    text-transform: uppercase;
    font-family: "Museo", "Trebuchet MS", Arial, Sans-Serif;
    font-weight: 700;
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
.flash-right{

background: url(../img/Dell_flash_storage_illustration.png);
	
	height:550px;
	position:relative
}
.flash-whitebox-left h3, .flash-whitebox-right h3{color:#007db8}
.flash-whitebox-right{
	background:rgba(255,255,255,0.8);
	padding:30px;
	text-align:left;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.flash-topbox{
	background:rgba(255,255,255,0.8);
	padding:30px;
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	right:0;
}

.flash-topbox h3{
	color:#588d03;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 41px;
}

.flash-bg{
	background:url(../img/Dell_flash_storage_illustration.png);
	height:550px
}
.whitebox-flash{
	background:rgba(255,255,255,0.95);
	padding:30px 80px 30px 30px;
	position:absolute;
	right:0
	
	
}
.right-flash{
	background:rgba(255,255,255,0.95);
	padding:30px 80px 30px 30px;
	position:absolute;
	right:0;
	bottom:0;
	left:0
	
	
}
.left-flash{
	background:rgba(255,255,255,0.95);
	padding:30px 30px 30px 30px;
	position:absolute;
	right:50%;
	bottom:0;
	left:0;
	text-align:right
	
	
}
.left-flash h3{color:#007db8}
.right-flash h3{color:#007db8}
.whitebox-flash h2{
	color:#588d03
}


.extras{
	background: url(../img/Dell_sds_bg.jpg);
	margin:50px 0px;
	padding:50px 0px
}
.overlay{
	background:rgba(0,0,0,0.7);
	padding:50px 0px
}
.extra-text{
	color:#fff
}
.must-have{
	background: url(../img/Dell_sds_storage_illustration.png);
	height:320px;
	position:relative;
    background-size: cover;
}
.video{
	
	height:320px;
	position:relative
}
.must-have-white{
	background:rgba(255,255,255,0.95);
	padding:20px 25px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align:right
}
.must-have-white-video{
	background:rgba(255,255,255,0.95);
	padding:20px 25px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align:left
}
.must-have-white-video h4, .must-have-white h4{
	color:#007db8
}

.results{
	margin:50px 0px;
	position:relative;
	
}
.title-header{
background:rgba(255,255,255,0.8);
padding:20px 0px;
text-align:center;
position:absolute;
top:0;
left:0;
right:0;
z-index:9
	
	
}

.results-left{
	background:url(../img/Dell_storage_customer_1.jpg);
	background-size:cover;	height:500px;
	position:relative;
	overflow: hidden
}
.res-video{
	background:rgba(255,255,255,0.8);
padding:20px;
text-align:right;
position:absolute;
bottom:0;
left:0;
right:0
}
.res-study{
	background:rgba(255,255,255,0.8);
padding:20px;
text-align:left;
position:absolute;
bottom:0;
left:0;
right:0
}
.results-right{
	background: url(../img/Dell_storage_customer_2.jpg);
	background-size:cover;	height:500px;
}
.video .video-open{
	position:absolute;
	top:38%;
	left:45%;
	vertical-align:central
}
.video-open{
	position:absolute;
	top:50%;
	left:50%;
	vertical-align:central
}
.clients{
	background:#434343;
	padding:50px 0px;
	color:#c1d82f
	
}
.clients h3{
	margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 46px;
}

.main-h3{
	font-family: 'museosansfordell', Fallback, sans-serif;
	font-weight:100;
	font-size:55px;
}

.sub-h3{
	font-family: 'museosansfordell', Fallback, sans-serif;
	font-weight:100;
	font-size:35px;
}

.nxt-sub-h3{
	font-family: 'museosansfordell', Fallback, sans-serif;
	font-weight:100;
	font-size: 42px;	
}

.client-logo{
	background:rgba(169,169,169,0.2);
	padding:20px;
	width:100%}
	
/************ FOOTER STYLES **************/	

.footer{
	background:#0085c3;
	padding:50px 0px;
	color:#fff;
    font-weight: 300;
}

.footer h3{
	text-align:center;
	color:#fff;
	padding-bottom:40px;border-bottom:solid 1px #fff; margin-bottom:40px;
	font-size:50px;
    font-weight: 500;
}
.footer h3 img{margin-right:10px;width:50px; }
.footer-menu li{list-style:none;margin-left:-10px;}
.footer-menu li a{color:#fff
}

/* Footer */
.st-conversation{
    background: #0085c3;
    display: block;
    height: 136px;
    text-align: center;
    width: 100%;
    border: 0;
    outline: none;	
}
#colophon {
	width:100%;
	background:#0085c3;
	color:#fff;
	padding-bottom:50px;
}
#colophon .st-conversation{
	background:#0085c3;
	display: block;
	height: 46px;
	text-align: center;
	width:100%;
	border:0;
	outline:none;
}
#colophon .st-conversation .st-conversation-bt{
	background-image: url("../img/icons/icon-conversation.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 23px auto;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	height: 100%;
	line-height: 43px;
	padding: 0 0 0 32px;
}
#colophon .st-conversation .st-conversation-bt:hover{
	text-decoration:none;
	cursor:pointer;
}
#colophon .st-conversation .st-conversation-bt:focus{
	outline:none;
	text-decoration:none;
}
#colophon .st-conversation-content {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #999;
	color: #444;
	font-size: 11px;
	line-height: 14px;
	padding: 20px;
}
#colophon .st-conversation-content h4{
	font-size: 16px;
}
#colophon .st-conversation-content .submit-bt {
    margin-top: 5px;
    text-align: right;
}
#colophon .ch-language{
	background:#eee;
	padding:4px 10px;
	font-size:10px;
}
#colophon .ch-language .language-select{
	background: #eee url("../img/flags/png/us.png") no-repeat scroll 3px 4px;
	border: 0 none;
	color: #444;
	padding-left: 20px;
	min-width:150px;
}

/* Firefox only. 1+ */
#colophon .ch-language .language-select,  x:-moz-any-link  { 
	padding-left: 0;
	padding-right: 20px;
	text-indent: 10px;
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#colophon .ch-language .language-select{
		background: #eee url("../img/flags/png/us.png") no-repeat scroll 0 center;
		padding-left: 0;
		padding-right: 20px;
		text-indent: 20px;
	}
}

#colophon .ch-language .language-select option{
	background-color: #fff;
	background-position: 2px 3px;
	background-repeat: no-repeat;
	border: 0 none;
	padding: 2px 0 2px 25px;
}
#colophon .ch-language .language-select option.us{
	background-image: url("../img/flags/png/us.png");
}
#colophon .ch-language .language-select option.au{
	background-image: url("../img/flags/png/au.png");
}
#colophon .ch-language .language-select option.br{
	background-image: url("../img/flags/png/br.png");
}
#colophon .ch-language .language-select option.cn{
	background-image: url("../img/flags/png/cn.png");
}
#colophon .ch-language .language-select option.fr{
	background-image: url("../img/flags/png/fr.png");
}
#colophon .ch-language .language-select option.de{
	background-image: url("../img/flags/png/de.png");
}
#colophon .ch-language .language-select option.jp{
	background-image: url("../img/flags/png/jp.png");
}
#colophon .ch-language .language-select option.mx{
	background-image: url("../img/flags/png/mx.png");
}
#colophon .ch-language .language-select option.gb{
	background-image: url("../img/flags/png/gb.png");
}
#colophon .ch-language .language-select option.in{
	background-image: url("../img/flags/png/in.png");
}

#colophon .footer-nav {
	font-size:9px;
	margin:20px 0 5px;
}
#colophon .footer-nav a{
	color:#fff;
  padding-right: 1.2em;
  margin-right: 1.2em;
  border-right: 1px solid #FFF;
	display: inline-block;
  line-height: 10px;
}
#colophon .footer-nav a:last-child{
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
#colophon .dell-privacy{
	font-size:9px;
	margin:5px 0 20px;
	line-height: 1.4em;
}

.divider{
	height:1px;
	border-bottom:solid 1px #fff;
	display:block;
	margin:30px 0px;
}
.copyright-menu{
	margin-top:20px;
}
.copyright-menu li{
	list-style:none;
	text-align:center
	
	
}
.copyright-menu li a{
	color:#fff
}
	
	
/*!
Animation
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

	
	.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.thndr-icn{display: block;max-height: 124px;}

.ex-right-pad{padding-right:10px;}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
	.real-p {font-size:12px;}
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
	
	.sm-tran{font-size: 12px;}
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


	.col-xs-8th,
.col-sm-8th,
.col-md-8th,
.col-lg-8th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-8th {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-8th {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-8th {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-8th {
        width: 12.5%;
        float: left;
    }
}





section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}


@media screen and (max-width:760px) {
	.facts .col-xs-12{padding:30px 0px;border-bottom:solid 1px #007db8;text-align: center;}
.mobile-view{margin-top:60px}
.fact-icon{width:50px;  float:right !important; display:inline-block}
.copyright-menu{margin:0 !important}
.copyright-menu li{text-align:left !important;background:#fff;padding:20px 10px; border-bottom:solid 1px #e1e2e0;margin:0}
   .copyright-menu li a{color:#444 !important}
.whitebox h3 {font-size:25px;}
  .st-conversation { height: 196px;
}
.mobile-left-texts{
	background:#007db8;
	padding:20px;
	color:#fff
}



@media(min-width:1024px) {
	.top-header{
	height:450px;
	
}
 
}

.navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		font-size:12px;
		background:#007db8;
		}
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		font-size:12px;
		background:#007db8;
		}

    .navbar-fixed-top .navbar-brand {
        font-size: 16px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 16px;
    }
}

a.navbar-brand{margin-top:-16px !important}
.navbar-brand img{
width:55px;
top:0px
}

.navbar {
    text-transform: uppercase;
    font-family: "Museo", "Trebuchet MS", Arial, Sans-Serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
span.right-text{text-align:right;margin-top:10px;margin-right:10px}
.intel{color:#fff;text-align:right !important;padding-top: 10px;}
.intel img{width:70px}
.left-texts{}

.left-texts p{font-size:15px !important}
.right-texts{background:url(../img/rm.png);background-repeat:no-repeat;padding-top:28px;padding-bottom:35px;padding-left:240px;}

@media screen and (min-width:1024px){  .right-texts{background:url(../img/rm.png);background-repeat:no-repeat;padding-top:28px;padding-bottom:35px;padding-left:240px;}
.v-in{
	text-align:left;
	color:#007db8
}
.v-in img{margin-right:20px}
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.st-conversation-content{
	padding-bottom:10px;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
