
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
	.fact-icon{width:30px}
		p{font-size:12px}
		h3, h4{font-size:18px}
	body{font-size:12px}
	.top-header{
	height:400px;
	background-size:cover;
	padding-top:20px;
	font-size:12px;
	position:relative
}
 .whitebox h3{
	color:#007db8;
	font-size: 25px;
}
.right-texts{background:rgba(255,255,255,0.8);padding-top:28px;
padding-bottom:22px; width:100%; position:absolute;left:0;right:0;bottom:0}
.v-in{
	max-width:420px;
	margin:0 auto;
		text-align:left;
	color:#007db8;
	float:none !important
}
.v-in img{margin-right:20px;}
.copyright-menu{margin:0 !important}
.copyright-menu li{text-align:left;background:#fff;padding:20px 10px; border-bottom:solid 1px #e1e2e0;margin:0}
   .copyright-menu li a{color:#444}


}

 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
}
 @media only screen
and (min-width : 1500px) {
.top-header{
	background-size:cover;
	background-repeat:no-repeat
	
	}
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
.wrapper{max-width:1500px; margin:0 auto}
 

@media screen and (max-width:760px) {
	
.top-header{display:none}
}
